@use 'base/variables';
@use 'pages/header';
@use 'pages/footer';

.buttton {
  background: variables.$main-color;
}
.item {
  background: variables.$bg-color;
}

header {
  background: variables.$bg-color;
}

.nav {
  background: variables.$bg-color;
}

footer {
  background: variables.$main-color;
}
