:root {
    --bg: pink;
}
@media (min-width: 600px) {
    :root {
        --bg: orange;
    }
}

body {
    background: var(--bg);
}

p {
    padding: 3rem;
    line-height: 1.6;
}

@media (min-width:700px) {
    :root {
        --bg: lightgreen;
    }
}

@media(min-width: 800px) {
    :root {
        --bg: lightblue;
    }
}

@media (min-width: 900px) {
    :root {
        --bg:yellow;
    }
}

